{% extends 'main.html' %} {% load static %} {% block content %}
<main>
  <section id="form-container">
    <img id="logo" src="{% static 'images/chat-icon.png' %}" />

    <div id="welcome-message">
      <h1>Welcome to Hive Calling</h1>
      <p>Group Video Calling so that you can interact with other bees!</p>
    </div>
    <form id="form">
      <div class="form-field">
        <input
          type="text"
          name="username"
          value="{{request.user.username}}"
          placeholder="Enter your name....."
          style="text-transform: uppercase"
          readonly
        />
      </div>

      <div class="form-field">
        <input
          type="text"
          name="hive"
          placeholder="Enter Hive name...."
          style="text-transform: uppercase"
          value="{{ hive.buzz|default:'' }}"
          readonly
        />
      </div>

      <a class="btn btn--main" href="{% url 'hive-video' hive.id %}?username={{ request.user.username }}&hive={{ hive.buzz }}">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>add</title>
          <path
            d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
          ></path>
        </svg>
        Join Stream
      </a>
    </form>
  </section>
</main>
<script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
<script type="text/javascript">
  let form = document.getElementById("form");
let handleSubmit = async (e) => {
    e.preventDefault();

    let hiveName = e.target.hive.value; // Use pre-filled Hive name
    let userName = e.target.username.value;
    let response = await fetch(`/get_token/?channel=${hiveName}`);
    let data = await response.json();

    let UID = data.uid;
    let token = data.token;

    sessionStorage.setItem("UID", UID);
    sessionStorage.setItem("token", token);
    sessionStorage.setItem("hive", hiveName);
    sessionStorage.setItem("name", userName);

    window.open(`/hive_video/${hiveName}/`, "_self");
  };
  form.addEventListener("submit", handleSubmit);


    const protocol = window.location.protocol === "https:" ? "wss" : "ws";
    const socket = new WebSocket(
        `${protocol}://${window.location.host}/ws/hive/`
    );
    

    // Handle WebSocket events
    socket.onopen = function () {
      console.log("WebSocket connection established");
    };

    socket.onerror = function (error) {
      console.log("WebSocket error: ", error);
    };

    socket.onclose = function () {
      console.log("WebSocket connection closed");
    };

    window.open("/hive_video/", "_self");
  };
  form.addEventListener("submit", handleSubmit);
</script>
{% endblock content %}