<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <title>Hive - Chat. Connect. Collaborate.</title>
      
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
      
  </head>

  <body>
  
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}
  
  
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
      const hiveId = "{{ hive.id }}";  // Ensure hive.id is passed correctly from Django template
      const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
      const ws = new WebSocket(`${protocol}//${window.location.host}/ws/hive/${hiveId}/`);
  
      ws.onmessage = function(event) {
          const data = JSON.parse(event.data);
          const message = data.message;
          document.getElementById('chat-box').innerHTML += `<p>${message}</p>`;


      };
      
  </script>
  
  
  </body>
</html>


